<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a >
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            </a>
        </div>
        <div class="item">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">

        </div>
        <div class="item">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">

        </div>
        <div class="item">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">

        </div>

    </div>
</div>